@charset "UTF-8";

.content {
  margin-left:auto;
  margin-right:auto;
}

img {
max-width: 100%;
}

nav img {
  float: left;
  max-width: 5%;
  margin-top: 4px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  background-color: #973638;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}


a {
  text-decoration: none;
  color: #E8E8E8;
  font-size: 22px;
  font-family: Segoe UI;
}

a:hover {
  color: black;
  font-size: 22px;
}

p {
  color: #707070;
  font-size: 50px;
  font-family: Segoe UI;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.seq {
  position: relative;
  /* Dimensions */
  height: 360px;
  width: 100%;
  max-width: 1500px;
  /* Masquez tout ce qui dépasse les limites du conteneur de séquence */
  overflow: hidden;
  /* Centrez le conteneur de séquence sur la page */
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

.seq.seq-active .seq-preloader {
  background: black;
}

.seq .seq-preload-circle {
  fill: #e28a25;
}

.seq .seq-pagination {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  font-weight: 600;
  text-align: center;
}

.seq .seq-pagination > * {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 1%;
  cursor: pointer;
  background: #512A5E;
  /* Remplacement d'image */
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  /* Accel de matériel */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.seq .seq-pagination > *.seq-current {
  background: #e28a25;
}

.seq .seq-pagination > * a {
  display: block;
  width: 100%;
  height: 100%;
}

.seq .seq-screen,
.seq .seq-canvas,
.seq .seq-canvas > * {
  /* Réinitialisez le canevas et les étapes pour plus de cohérence du navigateur */
  margin: 0;
  padding: 0;
  list-style: none;
}

.seq .seq-canvas {
  /**
   * Rendre le canevas aux mêmes dimensions que le conteneur et éviter les lignes
   * De l'emballage pour que chaque étape puisse s'asseoir côte à côte
   */
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  #E8E8E8-space: nowrap;
  font-size: 0;
}

.seq .seq-canvas > * {
  /* Faites les étapes de la même taille que le conteneur et asseyez-vous côte à côte */
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  #E8E8E8-space: normal;
  font-size: 16px;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.seq .seq-step1 {
  background-image: url("image/frofro.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}

.seq .seq-step2 {
  background-image: url("image/joko.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}

.seq .seq-step3 {
  background-image: url("image/zer.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}

.seq .seq-step4 {
  background-image: url("image/sok.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}

.seq .seq-step5 {
  background-image: url("image/troy.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}

.seq .seq-step6 {
  background-image: url("image/sno.png");
  border: solid;
  border-color: #973638;
  border-width: 5px;
}


.seq .seq-title {
  display: inline-block;
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  width: 90%;
  margin-left: -47%;
  padding: 0 2%;
  line-height: 1.2;
  background: #E8E8E8;
  text-align: center;
}

.seq .seq-title h2 {
  margin: .6em 0 .4em 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

.seq .seq-title .seq-button {
  position: relative;
  bottom: -6px;
  padding: .2em .6em;
  background: #e28a25;
  color: black;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.seq .seq-title .seq-button:focus,
.seq .seq-title .seq-button:hover {
  background: #512A5E;
  color: #E8E8E8;
}

.seq.seq-active {
  /* Lorsque JS est activé */
}

.seq.seq-active .seq-pagination {
  visibility: visible;
}

.seq.seq-active .seq-title {
  bottom: 70px;
}

@media only screen and (min-width: 480px) {
  .seq .seq-title {
    width: 65%;
    margin-left: -33.5%;
  }
}

@media only screen and (min-width: 640px) {
  .seq {
    /* Faire le conteneur 16: 9 mais pas plus de 90% de la hauteur de l'écran */
    position: relative;
    height: auto;
    max-height: 90vh;
    min-height: 360px;
  }

  .seq:before {
    /* Faire un élément un certain rapport d'aspec */
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }

  .seq .seq-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .seq .seq-pagination > * {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    list-style: none;
    width: 14%;
    height: auto;
    margin: 0 1%;
    padding: .625em 1%;
    cursor: pointer;
    border-bottom: black solid 4px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.4;
    font-size: 16px;
    font-weight: bold;
    background: #512A5E;
    color: #E8E8E8;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-property: width;
    transition-property: width;
  }

  .seq .seq-pagination > * a {
    /* Débordement de texte avec des points de suspension (...) */
    #E8E8E8-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E8E8E8;
    text-decoration: none;
  }

  .seq .seq-pagination > *.seq-current {
    width: 5%;
    background: #512A5E;
    border-bottom-color: #e28a25;
  }
}

@media only screen and (min-width: 720px) {
  .seq.seq-active .seq-title {
    bottom: auto;
    -webkit-transform: translateY(-200%) translateZ(0);
    -ms-transform: translateY(-200%) translateZ(0);
    transform: translateY(-200%) translateZ(0);
  }

  .seq .seq-title {
    width: 35%;
    top: 20px;
    left: auto;
    right: 20px;
    margin-left: auto;
    bottom: auto;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }

  .seq .seq-title .seq-button {
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: inline-block;
  }

  .seq .seq-title h2 {
    margin: .4em 0 .6em 0;
    padding: .4em;
    font-size: 1.5em;
    line-height: 120%;
    text-align: left;
  }

  .seq small {
    top: auto;
    bottom: 10px;
  }

  .seq.seq-active small {
    bottom: 70px;
  }

  .seq .seq-in {
    /* Animer dans des positions pour le contenu */
  }

  .seq .seq-in .seq-title {
    -webkit-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }

  .seq .seq-out {
    /* Animer les positions pour le contenu */
  }

  .seq .seq-out .seq-title {
    -webkit-transform: translateY(0) translateZ(0);
    -ms-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
}

/* ScrollToTop Button */ 

.scrollToTop {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}

.scrollToTop span {
	margin-top: 6px;
}

.showScrollTop {
	font-size: 14px;
	opacity: 1;
}

/* bot */

.bot {
	padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: rgb(209, 121, 70);
  color: rgba(255, 255, 255, .7);
}
