.content {
    margin-left:auto;
    margin-right:auto;
  }

img {
  max-width: 100%;
}

nav img {
    float: left;
    max-width: 5%;
    margin-top: 4px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    background-color: #973638;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #E8E8E8;
    font-size: 22px;
    font-family: Segoe UI;
}

a:hover {
    color: black;
    font-size: 22px;
}

p {
    color: #707070;
    font-size: 50px;
    font-family: Segoe UI;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.Twitch {
    display: inline-block;
    margin-left: 6%;
  }

.jeux {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 75%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.lol .csgo .valorant {
    height: 400px;
    width: 300px;
}

.twitter .discord .facebook .utip .youtube .instagrame {
    height: 300px;
    width: 300px;
}

.esport-p {
    font-size: 18px;
    text-decoration: underline overline #973638;
}

.esport-bot .reseaux {
    font-size: 20px;
    margin-top: 150px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.cs-team {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 75%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.echi .kleml .snobel .nexy {
    height: 300px;
    width: 300px;
}

.esport-cs {
    font-size: 18px;
}